.project {
  margin: 0 32px;
  max-width: 900px;

  @include bp(l) {
    margin: 0 auto;
  }

  &__image {
    max-width: 500px;
    margin: 32px auto;
    width: 100%;
    display: block;
  }

  &__body p {
    margin-bottom: 32px;
  }
}
