{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{g.static(podspec.meta.image).url.path}}">
<meta name="twitter:title" content="{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}">
<meta name="twitter:url" content="{{doc.url.path}}">

{# OpenGraph #}
<meta property="og:title" content="{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}">
<meta property="og:description" content="{{doc.description}}">
<meta property="og:site_name" content="{{podspec.title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{doc.url.path}}">
<meta property="og:image" content="{{g.static(podspec.meta.image).url.path}}">
