<!DOCTYPE html>
<html lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="{{doc.description}}">
    <meta name="google-site-verification" content="{{podspec.meta.google_site_verification}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, minimal-ui">
    <title>{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}</title>
    {% include "views/inc/_social.html" %}
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    {% if podspec.meta.favicon_path %}
      <link rel="shortcut icon" href="{{g.static(podspec.meta.favicon_path).url.path}}">
    {% endif %}

    <link href="{{ g.static('/dist/css/composite/global.min.css').url.path }}" rel="stylesheet">
    {% set compositeCssFiles = [doc.view|replace('.html', '')] %}
    {% set compositeCssFiles = compositeCssFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeCssFile in compositeCssFiles %}
      {% if not compositeCssFile.startswith('/') %}
        {% set compositeCssFile = '/' ~ compositeCssFile %}
      {% endif %}
      {% set viewCssFile = '/dist/css/composite' ~ compositeCssFile ~ '.min.css' %}
      {% if doc.pod.file_exists(viewCssFile) %}
        <link href="{{ g.static(viewCssFile).url.path }}" rel="stylesheet">
      {% endif %}
    {% endfor %}
  </head>
  <body data-barba="wrapper">
    <div class="loading-container">
      <div class="loading-screen">
      </div>
    </div>
    
    {% include '/partials/header/header.html' %}

    <main data-barba="container" data-barba-namespace="{{doc.title}}">
    {% block main %}
      {% if doc.partials %}
        {% for field in doc.partials %}
          {% if not field.partial %}
            {% continue %}
          {% endif %}

          {# Render the partial with the values in {{partial}}. #}
          {% set partial_filename = field.partial|expand_partial %}
          {% with partial = field %}
            {% include partial_filename with context %}
          {% endwith %}
        {% endfor %}
      {% else %}
        {{doc.formatted|safe}}
      {% endif %}
    {% endblock %}
    </main>
    
    
    <!-- Barba Core -->
    <script src="https://unpkg.com/@barba/core"></script>
    <!-- GSAP for animation -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="{{ g.static('/dist/js/composite/global.min.js').url.path }}"></script>
    {% set compositeJsFiles = [doc.view|replace('.html', '')] %}
    {% set compositeJsFiles = compositeJsFiles + (doc.composite_files if doc.composite_files else []) %}
    {% for compositeJsFile in compositeJsFiles %}
      {% if not compositeJsFile.startswith('/') %}
        {% set compositeJsFile = '/' ~ compositeJsFile %}
      {% endif %}
      {% set viewJsFile = '/dist/js/composite' ~ compositeJsFile ~ '.min.js' %}
      {% if doc.pod.file_exists(viewJsFile) %}
        <script src="{{ g.static(viewJsFile).url.path }}"></script>
      {% endif %}
    {% endfor %}

    {% if podspec.meta.google_analytics_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{podspec.meta.google_analytics_id}}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
