.nav {
  .nav__items {
    list-style: none;
    padding: 0;

    .nav__item {
      border-bottom: 2px solid transparent;
      display: inline-block;
      margin: 0 $padding / 2 0 0;

      a {
        display: inline-block;
        padding: $padding / 4 0;
      }

      &:hover {
        border-bottom: 2px solid #2b98fa;
      }

      &--active {
        // border-bottom: 2px solid $color-1;
      }
    }
  }
}
