.hero {
  margin: 0 20px;
  font-size: 24px;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  padding: 32px 0;

  @include bp(m) {
    text-align: center;
  }

  @include bp(l) {
    margin: 0 auto;
  }

  &__image {
    margin-top: 20px;
    max-width: 500px;
    width: 100%;

    @include bp(m) {
      width: 80%;
    }
  }
}
