.projects {
  padding: 32px 0;
  margin: 0 16px;
  max-width: 900px;

  @include bp(m) {
    margin: 0 auto;
  }

  &__items {
    @include bp(m) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__heading {
    font-size: 36px;

    @include bp(m) {
      text-align: center;
    }
  }
}


.project-thumb {
  $spacing: 16px;

  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-bottom: 8px solid #2b98fa;
  display: block;
  margin: 32px 0;
  position: relative;

  @include bp(m) {
    margin: $spacing;
    width: calc(50% - 32px);
    padding: 32px;
  }

  &__image {
    width: 100%;

    @include bp(m) {
      margin: -32px -32px 0;
      width: calc(100% + 64px);
    }
  }

  &__content {
    padding: 16px 16px 0;
    margin-bottom: 80px;
  }

  &__description {
    // margin-bottom: 32px;
    color: #333
  }

  &__cta {
    padding: 16px;
    margin-left: -16px;
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: #2b98fa;
    position: absolute;
    bottom: 16px;
  }
}